{% extends 'profile/base_profile.html.twig' %}

{% block title %}Order history{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Number</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.status }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}